.tab {
    display: inline-block;
    margin-left: 4rem;
}

.results {
    border: 1px solid black; 
    padding: 20px; 
    background-color: black;
}


.info-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black; 
    padding: 10px;
    background-color: green;
}

.info-tracks {
    flex: 1; 
    font-size: 2.5rem;
    color: white;
}

.info-artist {
    flex: 1; 
    font-size: 1rem;
    color: white;
}

.info-album {
    flex: 1; 
    font-size: 1.5rem;
    color: white;
}

.image {
    margin-left: 20px;
}

.first-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.track-search,
.artist-search,
.album-search {
    margin-bottom: 20px;
}

.track-search a,
.artist-search a,
.album-search a {
    color: blue;
    text-decoration: none;
}

.track-search a:hover,
.artist-search a:hover,
.album-search a:hover {
    text-decoration: underline;
}

.recent-searches {
    margin-top: 30px;
}

.recent-searches li {
    margin-bottom: 10px;
    font-size: 1rem;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
