<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Album Search</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
	<h1>Search Your Favorite Albums</h1>

	<form action="/album" method="POST">
        <fieldset>
			<legend>What Album Would You like to Search</legend>
			<input type="text" id = "albumSearch" name="albumSearch">
		</fieldset>
        <br>
        <button type="submit">Search</button>
    </form>
</body>

</html>