<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Artist Search</title>
    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>
	<h1>Search Your Favorite Artists</h1>

	<form action="/artist" method="POST">
        <fieldset>
			<legend>What Artist Would You like to Search</legend>
			<input type="text" id = "artistSearch" name="artistSearch">
		</fieldset>
        <br>
        <button type="submit">Search</button>
    </form>
</body>

</html>