<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Spotify Track Results</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
	<h1>Track Search Results</h1>
    <div>
        <%- results %>
    </div>

    <form action="/" method="GET">
        <button type="submit">Go back to home page</button>
    </form>
    
</body>

</html>