<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Track Search</title>
    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>
	<h1>Search Your Favorite Tracks</h1>

	<form action="/track" method="POST">
        <fieldset>
			<legend>What Track Would You like to Search</legend>
			<input type="text" id = "trackSearch" name="trackSearch">
		</fieldset>
        <br>
        <button type="submit">Search</button>
    </form>
</body>

</html>